<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HassanMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Controllers.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>Controllers.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paniers</display-name>
    <servlet-name>Paniers</servlet-name>
    <servlet-class>Controllers.Paniers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paniers</servlet-name>
    <url-pattern>/Paniers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Commande</display-name>
    <servlet-name>Commande</servlet-name>
    <servlet-class>Controllers.Commande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commande</servlet-name>
    <url-pattern>/Commande</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Details</display-name>
    <servlet-name>Details</servlet-name>
    <servlet-class>Controllers.Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/Details</url-pattern>
  </servlet-mapping>
  
</web-app>